

        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
          <div class="container-fluid">
              <div class="container">
                  <div class="footer-info">
                      <h2>Bettina Aboiralor</h2>
                      <h3>FCT, Abuja , Nigeria.</h3>
                      <div class="footer-menu">
                          <p>Contact: +234-8139-128-862</p>
                          <p>Email: bettinaaboiralor@gmail.com</p>
                      </div>
                      <div class="footer-social">
                          <a href="https://twitter.com/QuinnBettie1?t=qSFgED2hx6zxRzD1YYDjOA&s=09"><i class="fab fa-twitter"></i></a>
                          <a href="https://www.facebook.com/bettina.aboiralor?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                          <a href="https://www.youtube.com/@bettinaaboiralor"><i class="fab fa-youtube"></i></a>
                          <a href="https://instagram.com/b__glad?igshid=ZGUzMzM3NWJiOQ=="><i class="fab fa-instagram"></i></a>
                          <a href="https://www.linkedin.com/in/bettina-eghonghon/"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
              <div class="container copyright">
                  <p>&copy; <a href="#">2023 Bettina Aboiralor</a>, All Right Reserved
        
        </div>
          </div>
      </div>
      <!-- Footer End -->