<header><%- include("../partials/header") %></header>
 
 


 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Bio</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="admin">Home</a></li>
            <li class="breadcrumb-item active">Bio

            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>


<!-- Main content -->
   <section class="content">

     
    <div class="tab-content p-3" id="nav-tabContent">
      <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> <h1>I'm Bettina Aboiralor</h1>
<br>
        <h3>Passionate Web Developer Building Digital Experiences</h3>
        
        <p>Hello and welcome to my web development portfolio! I'm Bettina Aboiralor, a dedicated web developer on a mission to craft exceptional digital experiences that not only look great but also function flawlessly. With a strong foundation in coding, a keen eye for design, and a commitment to staying at the forefront of web technologies, I'm here to bring your online visions to life.</p>
        
       <h3> What I Do:</h3>
        
        <p>As a web developer, my expertise lies in creating dynamic and user-friendly websites and web applications. Over the years, I've had the privilege of working on a wide range of projects, from simple landing pages to complex e-commerce platforms and interactive web applications. I thrive on turning your ideas into functional and visually stunning realities.</p>
        
        <h3>My Approach:</h3>
        
        <p>My approach to web development is rooted in a passion for clean code and user-centric design. I believe that a well-crafted website should not only look beautiful but also provide a seamless and enjoyable user experience. I'm dedicated to writing efficient, responsive, and accessible code that meets modern web standards.</p>
        
       <h3> Why Choose Me:</h3>
        
        <p><h4>Technical Proficiency:</h4> I'm proficient in a variety of programming languages and web development frameworks, ensuring I have the right tools for any project.</p>
        
        
        <p><h4>Attention to Detail:</h4> I'm known for my meticulous attention to detail, which results in pixel-perfect websites and applications.</p>
        
        <p><h4>Adaptability:</h4> The web development landscape is constantly evolving, and I'm committed to staying updated with the latest trends and technologies.</p>
        
       <p> <h4>Collaboration:</h4> I love collaborating with clients and design teams to ensure that the final product aligns perfectly with your vision and goals.</p> </div>
     
  </div>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer>
  <%- include("../partials/footer") %>
</footer>
