<%- include("../partials/header") %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Services</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="index">Home</a></li>
            <li class="breadcrumb-item active">Services

            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

   
          <div class="tab-content p-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">  <p>Services</p>
             
             
            
                <div class="service-item"> 
                  <i class="fa fa-mobile"></i>
          <h3>Web Design</h3>
              <p>
                  My passion as a web designer involves a deep love for creative expression and visual aesthetics. My goal is to craft captivating and user-friendly websites that not only look great but also effectively convey information and engage visitors. I aspire to continuously refine your design skills, stay updated on design trends, and deliver solutions that exceed your clients’ expectations.
              </p>
            </div>
          </div>



           
                <div class="service-item">
                  <i class="fa fa-mobile"></i>
              <h3> Web Development</h3>
                        <p>
                            As a web developer, my passion revolves around coding, problem-solving, and building digital solutions. My goal is to create efficient, functional, and secure websites and web applications. I’m enthusiastic about staying current with programming languages and technologies, and my ultimate aim is to develop innovative and user-friendly web experiences that address real-world needs and challenges.
                        </p>
                      </div>
                    </div>
            </div>
           
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

    
  </section>
  <!-- /.content -->
</div>
 <!-- /.content-wrapper -->
 
 <%- include("../partials/footer") %>