<body>
  <header>
    <%- include("../partials/header") %>
  </header>

     <!-- Service Start -->
     <div class="service" id="service">
      <div class="container">
          <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
              <p>What I do</p>
              <h2>Awesome Quality Services</h2>
             <br>
              <p>My passion and goal is to help make your business standout.</p>
          </div>
          <div class="row">
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                  <div class="service-item">
                      <div class="service-icon">
                          <i class="fa fa-laptop"></i>
                      </div>
                      <div class="service-text">
                          <h3>Web Design</h3>
                          <p>
                              My passion as a web designer involves a deep love for creative expression and visual aesthetics. My goal is to craft captivating and user-friendly websites that not only look great but also effectively convey information and engage visitors. I aspire to continuously refine your design skills, stay updated on design trends, and deliver solutions that exceed your clients’ expectations.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="service-item">
                      <div class="service-icon">
                          <i class="fa fa-laptop-code"></i>
                      </div>
                      <div class="service-text">
                          <h3>Web Development</h3>
                          <p>
                              As a web developer, my passion revolves around coding, problem-solving, and building digital solutions. My goal is to create efficient, functional, and secure websites and web applications. I’m enthusiastic about staying current with programming languages and technologies, and my ultimate aim is to develop innovative and user-friendly web experiences that address real-world needs and challenges.
                          </p>
                      </div>
                  </div>
              </div>
             
          </div>
      </div>
  </div>
  <!-- Service End -->

  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>
